#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.App {
  position: relative;
}

#root::-webkit-scrollbar{
  width: 5px;
  background-color: #041C24;
}
#root::-webkit-scrollbar-thumb{
  background-color: #2acfcf;
  border-radius: 10px;
}