.container-contact {
    background-color: #041C24;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
}

.activeContact {
    display: none;
}

.contact-right {
    /*   background-color: rgb(15, 95, 95); */
    padding: 0 30px;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.contact-right h2 {
    padding-top: 50px;
    font-size: 2.5rem;
    color: #2acfcf;
}

.contact-right p {
    font-size: 1.2rem;
    padding: 10px 0;
}

.form-contact {
    /*  background-color: blueviolet; */
    padding: 10px 0;
    font-size: 16px;
}

.form-contact li {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* .form-contact li label {
    padding:15px 10px;
} */

.form-contact li input {
    margin: 10px 0;
    padding: 15px 10px;
    background-color: #041C24;
    border: 2px solid #ffffff83;
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.form-contact li input:focus {
    border: 2px solid white;
}

.form-contact li input::placeholder {
    color: white;
}

.form-contact li textarea {
    margin: 10px 0;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    background-color: #041C24;
    border: 2px solid #ffffff;
    border-radius: 5px;
    outline: none;
    color: white;
    height: auto;
    /*   overflow: hidden;
    resize: none;
    height: auto; */
}

.form-contact li textarea:focus {
    border: 2px solid #2acfcf;
}

.form-contact li textarea::placeholder {
    color: white;
}

.form-contact .button-contact {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #041C24;
    font-size: 18px;
    font-weight: bold;
    background-color: #2acfcf;
    cursor: pointer;
    transition: .3s ease;
}
.form-contact .button-contact:active{
    background-color: #2acfcf80;
}
.follow-icon{
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.follow-icon a{
    font-size: 25px;
    color: white;
    padding-left: 20px;
}