.div-container-jobs {
  background-color: #041C24;
  /* background-color: #065B64;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%231d66c1' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%231f99a3' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%230082dd' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231787b8' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%230095d9' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2320a0b2' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%230073a8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23188bb6' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2300a2d7' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23177e9c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2321afce' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23115976' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center; */
  padding: 60px 0;
}

.container-jobs {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}

.container-center-jobs {
  width: 100%;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(170px, 1fr));
}

.jobs-title {
  padding: 20px;
  text-align: left;
}

.jobs-title h2 {
  font-size: 34px;
  color: #2acfcf;
  font-family: 'Dosis', sans-serif;
}

.jobs-title p {
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.jobs {
  background: rgb(6, 91, 100);
  background: linear-gradient(300deg, rgba(6, 91, 100, 1) 0%, rgba(42, 207, 207, 0.518) 100%);
  /*  backdrop-filter: blur(20px); */
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  text-align: left;
  color: white;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.jobs p {
  width: 90px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 100px;
  color: white;
  background-color: #065b64;
  padding: 5px 0px;
  margin-bottom: 5px;
  cursor: pointer;
}

.jobs p:active {
  background-color: #2acfcf;
}

.jobs h6 {
  font-size: 14px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 2px;
  background-color: #2acfcf2d;
  font-weight: 500;
}

.jobs div {
  display: flex;
}


.jobs div a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 4px;
  border-radius: 100px;
  background-color: #2acfcf98;
  text-decoration: none;
  cursor: pointer;
}