:root {
  font-family: 'Roboto', sans-serif;
  /*   font-family: 'Dosis', sans-serif; */
  color: black;
  background-color: white;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
body {
  display: flex;
  place-items: center;
  width: 100vw;
} */